.-hsloz {
  font-size: 11px;
  border-radius: 8px;
  display: inline-block;
  line-height: 1.2;
  text-transform: uppercase;
  display: inline-flex;
  text-shadow: hsla(0, 100%, 100%, 0.61) 0px 0px 1px;
  margin-right: 5px;
  box-shadow: hsla(0, 0%, 0%, 0.18) 0px 1px 1px;
  background: hsla(0, 3%, 74%, 0.3);
  position: relative;
  top: 3px;
  margin-right: 1px;
}

.-hsloz span {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  box-shadow: inset hsla(0, 0%, 0%, 0.29) -1px 0px 5px -1px;
  width: 10px;
  background: hsla(0, 0%, 47%, 0.26);
}

.-hsloz b {
  padding: 2px 8px;
  color: hsl(0, 0%, 20%);
}




/* bright variant */

.-hsloz.bright span, .brightLozenges .-hsloz span {
  width: 20px;
}

.-hsloz.bright, .brightLozenges .-hsloz {
  box-shadow: hsla(0, 0%, 0%, 0.5) 0px 1px 1px;
  background: hsla(0, 3%, 74%, 0.4);
}




/* lozenge colors!!!! */

.-hsloz.mixed, .-hsloz.negative {
  color: hsl(0, 100%, 29%);
}

.-hsloz.well, .-hsloz.positive {
  color: hsl(110, 100%, 29%);
}

.-hsloz.mixed span, .-hsloz.negative span {
  background: hsl(0, 100%, 39%);
}

.-hsloz.well span, .-hsloz.positive span {
  background: hsl(110, 100%, 39%);
}

.signalrow {
  display:flex;
}

.signalrow .-hsloz {
  top: 0px;
}
