.reasonsList .table-view {
  background-color: inherit;
  border: none;
  margin-bottom: 0px;
}


.ReasonRow.table-view-cell {
  transition: background-color 100ms ease-in-out;
  margin-bottom: 3px;
  padding: 8px 5px 6px;
  border-bottom: solid thin #ddd;
}

.ReasonRow .icon {
  float: left;
  margin-right: 8px;
  font-size: 12px;
  margin-bottom: 10px;
  margin-top: 6px;
  border: solid thin #E4E4E4;
  border-radius: 50px;
  margin-left: 5px;
  padding: 3px;
  color: #aaa;
}

.ReasonRow .intro {
  color: hsl(0, 0%, 42%);
  font-size: 12px;
  margin-left: 39px;
}

.ReasonRow:active {
  background-color: hsla(219, 68%, 50%, 0.15);
}

.ReasonRow.positive .intro {
  color: hsl(110, 80%, 34%);
}

.ReasonRow.negative .intro {
  color: hsl(0, 60%, 57%);
}



.reason {
  font-size: 12px;
  border-radius: 8px;
  /*display: inline-block;*/
  line-height: 1.2;
  text-transform: uppercase;
  display: inline-flex;
  text-shadow: hsla(0, 100%, 100%, 0.61) 0px 0px 1px;
  /*margin-right: 5px;*/
  box-shadow: hsla(0, 0%, 0%, 0.18) 0px 1px 1px;
  background: hsla(0, 3%, 74%, 0.3);
  /*position: relative;*/
  /*top: 3px;*/
  /*margin-right: 1px;*/
  font-weight: normal;
}

.reason b {
  padding: 2px 8px;
  color: hsl(0, 0%, 20%);
}

.ReasonRow.negative .reason b, .ReasonRow.positive .reason b {
  margin-left: 15px;
  background: #e9e9e9;
  border-radius: 0px 10px 10px 0px;
}

.ReasonRow.negative .reason {
  color: hsl(0, 100%, 29%);
  background: hsl(0, 100%, 39%);
}

.ReasonRow.positive .reason {
  color: hsl(110, 100%, 29%);
  background: hsl(110, 100%, 39%);
}






/*.signalrow h3 .icon{
  font-size: 14px;
  margin-right: 3px;
}
*/

.reasonsList .expansion {
  background-color:  hsl(0, 0%, 95%);
  margin-top: -4px;
  border: solid thin #BBB;
  margin-bottom: 3px;
  overflow: hidden;
}

.reasonsList .expansion .comment {
  font-size: 12px;
  text-align: right;
  margin: 0px 10px;
}

.reasonsList .expansion input[type=range] {
  display:block;
  width: 100%
}
