.icon.blue { color:blue; font-size: 16px; }
.icon.gray { color:#ccc; font-size: 16px; }
.icon.small { font-size: 16px; margin-right: 8px; }

.icon.circled {
  width: 30px;
  height: 30px;
  line-height: 16px;
  border: 1px solid #ddd;
  border-radius: 25px;
  padding: 5px;
/*  margin: 3px;*/
/*  font-size: 24px;*/
/*  line-height: 50px;*/
/*  text-align: center;*/
/*  background-color: #fff;*/

}

.tagfield {
  background: white;
display: block;
padding: 3px 10px;
border-radius: 5px;
box-shadow: inset black 0px 0px 1px;
min-height: 40px;
}

.tagfield b {
  white-space: nowrap;
font-size: 11px;
color: rgb(24, 45, 112);
margin-right: 7px;
/*background: #9bf;*/
padding: 2px 4px;
border-radius: 3px;
text-shadow: rgba(255,255,255,0.3) 0px 1px 0px;
/*background-color: #D5E2FC;*/
background-color: #ECECEC;
}
.tagfield b svg {
  width: 14px;
  height: 7px;
  display: inline;
  margin-right: 5px;
}

.tagfield b img {
  max-height: 14px;
  position: relative;
  top: 3px;
  margin-right: 3px;
}

.tagfield b.achieved {
    background: #9f9;
}


.tagfield b.notyet {
    background: #f99;
}

.row{ display: -webkit-flex; display: flex; position: relative; }
.row > * { -webkit-align-self: center; align-self: center; }
input  { width: 100%; padding: 5px; font-size: 18px; }

.item img {
  max-width:50px; max-height: 50px; background: gray; -webkit-flex: 0 0 auto; flex: 0 0 auto; margin-right: 10px; -webkit-align-self: flex-start; align-self: flex-start; ;
}
.item {
  margin: 14px 0px;
}
.expando {
  -webkit-flex: 1 1 auto; flex: 1 1 auto;
}
.smileys{
  font-size: 28px;
  position: absolute;
  top: 12px;
  right: 5px;
  color: gray;
}
.smileys span:last-child {
  margin-left: 17px;
}
.smileys span.selected.well {
  color: green;
}
.smileys span.selected.poorly {
  color: red;
}
.rationale .prompt {
  color: #bbb;
  font-size: 13px;
}
.table-view-divider {
  position: relative;
}
h5 {
  margin-top: 30px;
}
.outcomes .table-view-divider{
  background-color: #EBEBEB;
  padding-top: 13px;
  padding-bottom: 10px;
  text-transform: uppercase;
  font-size: 13px;
  color: #444;
  text-shadow: white 0px 1px 2px;
}

.rationale_editor input {
  margin:0;
}

button.not_there {
  visibility: hidden;
  width: 0px;
  height: 0px;
  position: absolute;
}




.fireahead {
  background-color: #fff;
}

.fireahead:focus {
  border: 2px solid #0097cf;
}

.tt-query {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
  color: #999
}

.tt-dropdown-menu {
  z-index: 100000;
  width: 422px;
  margin-top: 12px;
  padding: 8px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
  padding: 3px 20px;
  font-size: 18px;
  line-height: 24px;
}

.tt-suggestion.tt-cursor {
  color: #fff;
  background-color: #0097cf;

}

.tt-suggestion p {
  margin: 0;
}


.table-view img {
  max-height: 40px;
  max-width: 40px;
}

.twitter-typeahead {
  width: 100%;
}

form {
  margin-bottom: 0px;
}

.content > #content {
  margin-top: 0px;
}

input[type=search] {
  margin-bottom: 0px;
}

.nose{
  position: absolute;
  width: 20px;
  height: 20px;
  top: -8px;
  left: 155px;
  -webkit-transform: rotate(45deg);
  z-index: -1;
  border: rgb(197, 195, 195) 2px solid;
  background: #efeff4;
}

.popup {
  box-shadow: rgba(0,0,0,0.5) 0px -1px 3px;
  border-radius: 15px;
}

.vreview form {
  background: #efeff4;
  padding: 10px;
  margin-bottom: -18px;
  border-radius: 15px;
}

.vreview form input[type=search] {
  background-color: white;
  border-radius: 30px;
}

.table-view-cell.how-going {
  padding-right: 10px;
}


#feed {
  font-size: 13px;
}

#feed li {
  padding-right: 15px;
}

#feed .tagfield {
  background-color: none;
  box-shadow: none;
}

.facerow {
  overflow: hidden;
  margin-left: 50px;
margin-bottom: 4px;
margin-top: -3px;
}

.facerow img {
  max-width: 20px; max-height: 20px; margin-right: 3px;
  border-radius: 3px;
  opacity: 0.5;
}


h5 .icon {
  position: absolute;
top: -5px;
margin-left: 10px;
}

.vreview .toggle {
  margin-top: -2px;
  height: 18px;
}

.vreview .toggle .toggle-handle {
  top: -7px;
}

h5 {
  position: relative;
}

.content-padded .segmented-control {
  margin-top: 15px;
    margin-bottom: -5px;
    background: white;
    margin-left: 10px;
margin-right: 10px;
border-color: #B4B4B4;

}

.segmented-control .control-item.active {
  box-shadow: inset rgba(0,0,0,0.5) 0px 1px 4px -1px;
}

.segmented-control .control-item.active.green {
  background-color: rgb(149, 245, 149);
  color: black;
}

.segmented-control .control-item.active.red {
  background-color: rgb(255, 208, 208);
  color: black;
}

.tagfield .label {
  text-transform: uppercase;
  font-size: 11px;
  color: gray;
  display: block;
}

.vreview .content .popup {
  background-color: #efeff4;
  min-height: 100%;
}

.vreview .content {
  background: white;
}

.vreview h5 {
  margin-top: 40px;
  color: #353536;
}

.vreview .card {
  margin: 0px 20px;
}
