.tagfield b { padding: 1px 8px; background: #9f9; border-radius: 10px; white-space: nowrap; line-height: 1.9em; font-weight: normal; }
.tagfield b svg { width: 14px; height: 14px; display:inline; }
.tagfield.editable { padding: 2px 10px; display: block; background: white; box-shadow: inset rgba(0,0,0,0.5) 0px 0px 3px; }
svg circle { stroke: green; fill: white; }
body { max-width: 320px; font-family: arial; font-size: 15px; }
header, section { padding: 5px 10px; margin: 10px 0px; background: #eee; }
h1, h2, h3 { margin: 0 }
h3{ margin-top: 10px; }
h2{ font-size: 14px; color: #888; margin-bottom: 6px; text-transform: uppercase;}
p{ margin-top: 0px; }


.modal {
    position: absolute;
    top: 10px;
    margin: 10px;
    width: 100%;
    border: solid thin gray;
    box-shadow: black 0px 0px 10px;
}


.tabs {
    text-align:center;
    margin-top:10px;
}

.tabs b:first-child {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}
.tabs b:last-child {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}


.tabs b {
  padding: 3px 12px;
  text-shadow: black 0px 0px 0px;
  font-weight: normal;
  font-size: 14px;
  cursor: pointer;
  min-width: 60px;
  border: solid thin #006383;
  display: inline-block;
  margin-right: -1px;
}
.tabs b:hover {
  color:white;
  background: #a3a2a2;
}
.tabs b.selected {
    color:white;
    background: #006383;
}
