html
{
    background: url('../images/options_bg.png') repeat-y 0 0;
}

body
{
    font-family: Arial, sans-serif;
    font-size: 14px;
}

strong
{
    font-weight: bold;
}

.clear
{
    clear: both;
}

#main
{
    position: relative;
    text-align: left;
}

h1
{
    margin: 21px 27px 0 10px;
    padding-left: 56px;
    background: url('../images/icon48.png') no-repeat;
    color: #53637d;
    font-size: 185%;
    text-shadow: white 0 1px 2px;
}

h2,
h3
{
    font-size: 120%;
    font-weight: bold;
    text-shadow: #c0c0c0 0 1px 2px;
}

h3
{
    margin: 1.5em 0;
}

#left
{
    width: 217px;
    float: left;
}

#right
{
    margin-left: 217px;
    padding: 20px 20px 20px 23px;
}

.credits
{
    display: block;
    position: fixed;
    z-index: -1;
    right: 2em;
    bottom: 2em;
    color: #666;
    font-size: 80%;
    text-decoration: none;
    padding-right: 62px;
    background: url('../images/wips_logo.png') no-repeat 100% 50%;
    line-height: 16px;
}