#bg{
 position: absolute;
 top: 0; left: 0;
 width: 100%; height: 100%;
 font-family: 'Montserrat', sans-serif;
 color: white;
 font-size: 30px;
 background-image: url(/images/bgs/sea.png);
 background-size: 100%;
 overflow:hidden;
 opacity: .8;
 text-shadow: 0px 1px 5px rgba(0,0,0,0.1);
 cursor: pointer;
}

p{ font-size: 15px;}

#bg:hover{
 opacity: .8;
}

body#popup {
	margin:0;
	font-family: 'Montserrat', sans-serif;
}

#followup {
	margin: 10px;
}

#followup button {
	font-size:20px;
}

#wish {
	display: block;
	padding: 10px;
	min-width: 600px;
	margin-bottom: 20px;
}

#site_name {
	color: rgb(22, 22, 22);
	text-shadow: rgba(255, 255, 255, 0.29) 0px 1px 1px;	
	text-align: center;	
	padding: 10px 0px;
}

#you_summary {
	padding: 10px;
	color: rgb(22, 22, 22);
	text-shadow: rgba(255, 255, 255, 0.29) 0px 1px 1px;	
}

#community_summary{
	background: #66cc66;
	padding: 10px;
	color: rgb(22, 22, 22);
	text-shadow: rgba(255, 255, 255, 0.29) 0px 1px 1px;
}


#bg .more{ position: relative;}

#bg h1{ font-size: 13px; padding: 10px; padding-left: 15px; position: relative;}
#bg h2{ font-size: 20px; padding-bottom: 20px; padding-top: 0px;}



form { display: inline-block; }

.panels{
	width: 4000px;
	height: 150px;
}

.panel{
	width: 800px;
	height: 150px;
	display: inline-block;
}

.panel:not(.active){
	opacity: 0;
}


.button{
	display: inline-block;
	border-radius: 8px;
	border: 1px solid white;
	background-color: rgba(255,255,255, .3);
	font-size: 18px;
	padding: 10px;
	color: white;
	max-width: 300px;
	margin-right: 20px;
	margin-top: 10px;
	cursor: pointer !important;
}

.button:hover{
 background-color: rgba(255,255,255, .5);
}



.line{
	border: none;
	background: transparent;
	width: 400px;
	font-size: 24px;
	border-bottom: 3px solid white;
	color: white;
	margin-top: 20px;
}

#others_rated { font-size: 13px; margin-top: 20px; max-width: 800px }

iframe#page{
 border-width: 0;
 z-index: 999;
 position: absolute;
 top: 0px;
 width: 100%;
 height: 100%;
 box-shadow: 0 -2px 10px rgba(0,0,0,.3);
 border-top: 1px solid rgba(255,255,255,.8);
 background-color: white;
}


.typeahead,
.tt-query,
.tt-hint {
  width: 700px;
  height: 50px;  
  font-size: 36px;
  line-height: 30px;
  outline: none !important;
}

.typeahead {
  background-color: #fff;
}

.typeahead:focus {
  /*border: 2px solid #0097cf;*/
}

.tt-query {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
  color: #999;
  display: none;
}

.tt-dropdown-menu {
  width: 422px;
  padding: 8px 0;
  background-color: #fff;
  color: #333;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
  padding: 3px 20px;
  font-size: 18px;
  line-height: 24px;
}

.tt-suggestion.tt-is-under-cursor {
  color: #fff;
  background-color: #66cc66;

}

.tt-suggestion p {
  margin: 0;
}

.close {
  display: inline-block;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  color: white;
  float: right;
  height: 35px;
  width: 35px;
  text-align: center;
  text-indent: -9999px;
  position: absolute;
  text-decoration: none;
  top: 0px;
  right: 0px;
  border-left: 1px solid rgba(255,255,255,.4);
  border-bottom: 1px solid rgba(255,255,255,.4);
}
.close::after {
  content: "\2716";
  text-indent: 0;
  display: block;
  position: absolute;
  top: 9px;
  right: 12px;
  font-size: 12px;
}
.close:hover {
  background-color: rgba(255,255,255,.4);
  cursor: pointer;
}
.close:active {
  cursor: pointer;
 }

.remind{
	display: block;
	font-size: 11px;
	margin-top: 25px;
	opacity: .8;
	cursor: pointer;
}

.remind:hover{
	opacity: 1;
	text-decoration: underline;
}

.stats{
	display: none;
	opacity: .85;
	position: relative;
}

.return_hint{
	border: 1px solid rgba(255,255,255,.4);
	background-color: rgba(255,255,255,.4);
	padding: 5px;
	width: 30px;
	text-align: center;
	border-radius: 3px;
	position: absolute;
	top: 55px;
	left: 658px;
	opacity: 0;
}

.pulse{
 	-webkit-animation: pulsate 10s ease-out;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-delay: 3000;
	opacity: 0;
}

@-webkit-keyframes pulsate {
    0% {-webkit-transform: opacity: 0.05;}
    50%{ opacity: .5;}
    100% {opacity: 0.05;}
}