/*color: #797979;*/
/*font-size: 12px;*/
/*text-shadow: rgb(255, 255, 255) 0px -1px 1px;*/
/*margin-right: 4px;*/
/*margin-bottom: -3px;*/

.usageSummary {
  /*padding: 3px 6px;*/
  /*background: #FFFFFF;*/
  /*box-shadow: #5D5D5D 0px 0px 4px;*/
  margin: 8px;
  display: flex;
  align-items: flex-start;
  /*border-radius: 5px;*/
}

.usageSummary h3 {
  margin:0;
}

.usageSummary img {
  margin-right: 11px;
  /*box-shadow: #656565 0px 0px 1px;*/
  /*border-radius: 6px;*/
  margin-top: 5px;
  margin-left: 2px;
}

.usageSummary h3 small small {
  font-weight: normal;
  font-size: 12px;
  color: #9A9999;
}

.usageSummary p {
  margin:0;
  color: #A5A4A4;
}
