.concerns_view .table-view-divider, .edit_value_view .table-view-divider {
  background-color: rgb(234, 237, 241);
  padding-top: 26px;
  color: rgb(44, 44, 44);
  font-weight: normal;
  text-transform: uppercase;
  font-size: 13px;
}

