
.vreview form {
/*
  background: #efeff4;
  padding: 3px 2px;
  position: absolute;
*/
  z-index: 10000;
  overflow: visible;
/*  width: 100%;*/
}

.vreview .table-view {
/*
  flex: 1.0;
  overflow-y: auto;
  margin-bottom: 0px;
  margin-top: 0px;
*/
}


.vreview form input[type=search] {
  background-color: white;
  border-radius: 30px;
  box-shadow: inset hsla(0, 0%, 0%, 0.7) 0px 0px 3px;
}

.vreview form input[type=search]:disabled {
  opacity: 1.0;
}



.vreview .toggle {
  margin-top: -2px;
  height: 18px;
}

.vreview .toggle .toggle-handle {
  top: -7px;
}


.vreview .content {
  background: white;
  margin-bottom: 0;
}


.vreview h3{
  font-size: 12px;
  margin: 0 10px;
  text-align: right;
  font-weight: normal;
  min-width: 90px;
  margin-top: 2px;
}


.vreview h3 b{
  font-weight: normal;
  border-bottom: solid thin hsl(0, 0%, 92%);
  font-family: Optima;
  font-size: 13px;
}

.vreview h3 .icon{
  font-size: 14px;
  margin-right: 5px;
}

.vreview h3.well {
  color: hsl(110, 80%, 34%);
}

.vreview h3.poorly {
  color: hsl(0, 60%, 57%);
}

.vreview {
  display: flex;
  flex-direction: column;
  height: 100%;
  background: hsl(228, 13%, 95%)
}

.vreview .table-view-cell
{
  padding: 11px 1px 11px 1px;
}


header form {
  display: flex;
}

.bar-nav.bar-extended {
  height: 54px;
  background-color: hsla(0, 3%, 86%, 0.98);
}

.bar-nav.bar-extended ~ .content {
  padding-top: 56px;
}

.vreview .outcomes .table-view-cell .icon-close {
  display: none;
}

.vreview .outcomes .table-view-cell:hover .icon-close {
  display: block;
}

.vreview .outcomes .table-view-cell:hover .icon-close:hover {
  color:black;
}

.concern_view .sentence {
  font-weight: normal;
  margin-bottom: -1px;
}

.concern_view .sentence b {
  border: solid thin gray;
  padding: 7px 10px;
  white-space: nowrap;
  display: inline-block;
  font-weight: normal;
  font-size: 12px;
  color: white;
  background: rgb(148, 148, 148);
}
