.-hsloz {
  font-size: 11px;
  border-radius: 8px;
  display: inline-block;
  line-height: 1.2;
  text-transform: uppercase;
  display: inline-flex;
  text-shadow: hsla(0, 100%, 100%, 0.61) 0px 0px 1px;
  margin-right: 5px;
  box-shadow: hsla(0, 0%, 0%, 0.18) 0px 1px 1px;
  background: hsla(0, 3%, 74%, 0.3);
  position: relative;
  top: 3px;
  margin-right: 1px;
}

.-hsloz span {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  box-shadow: inset hsla(0, 0%, 0%, 0.29) -1px 0px 5px -1px;
  width: 10px;
  background: hsla(0, 0%, 47%, 0.26);
}

.-hsloz b {
  padding: 2px 8px;
  color: hsl(0, 0%, 20%);
}




/* bright variant */

.-hsloz.bright span, .brightLozenges .-hsloz span {
  width: 20px;
}

.-hsloz.bright, .brightLozenges .-hsloz {
  box-shadow: hsla(0, 0%, 0%, 0.5) 0px 1px 1px;
  background: hsla(0, 3%, 74%, 0.4);
}




/* lozenge colors!!!! */

.-hsloz.mixed, .-hsloz.negative {
  color: hsl(0, 100%, 29%);
}

.-hsloz.well, .-hsloz.positive {
  color: hsl(110, 100%, 29%);
}

.-hsloz.mixed span, .-hsloz.negative span {
  background: hsl(0, 100%, 39%);
}

.-hsloz.well span, .-hsloz.positive span {
  background: hsl(110, 100%, 39%);
}

.signalrow {
  display:flex;
}

.signalrow .-hsloz {
  top: 0px;
}



.signalrow h3{
  font-size: 12px;
  margin: 0 10px;
  text-align: right;
  font-weight: normal;
  min-width: 117px;
  margin-top: 2px;
}


.signalrow h3 b{
  font-weight: normal;
  border-bottom: solid thin hsl(0, 0%, 92%);
  font-family: Optima;
  font-size: 13px;
}

.signalrow h3 .icon{
  font-size: 14px;
  margin-right: 3px;
}

.signalrow h3.positive {
  color: hsl(110, 80%, 34%);
}

.signalrow h3.negative {
  color: hsl(0, 60%, 57%);
}

.signalrow h3.neutral {
  color: hsl(0, 0%, 57%);
}

.signalrow.table-view-cell
{
  padding: 11px 1px 11px 1px;
}


.table-view .expansion {
  background-color: #bbb;
  box-shadow: inset rgba(0,0,0,0.3) 0px 2px 3px;
}

.expansion .table-view-cell {
}

.wordChoice {
  border-bottom: dashed 1px blue;
}

.expansion .comment {
  font-size: 12px;
  text-align: right;
  margin: 0px 10px;
}

.expansion input[type=range] {
  display:block;
  width: 100%
}

.verticalSpace {
  flex: 1.0 1.0 auto;
}

.column {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.usageSummary {
    text-align: center;
    background-color: #CAC8C8;
    padding: 1px 0px;
    color: #A92F2F;
    text-transform: uppercase;
    font-size: 12px;
}

/*
.vreview form {
  z-index: 10000;
  overflow: visible;
}

.vreview form input[type=search] {
  background-color: white;
  border-radius: 30px;
  box-shadow: inset hsla(0, 0%, 0%, 0.7) 0px 0px 3px;
}

.vreview form input[type=search]:disabled {
  opacity: 1.0;
}

.vreview .toggle {
  margin-top: -2px;
  height: 18px;
}

.vreview .toggle .toggle-handle {
  top: -7px;
}





header form {
  display: flex;
}

.bar-nav.bar-extended {
  height: 54px;
  background-color: hsla(0, 3%, 86%, 0.98);
}

.bar-nav.bar-extended ~ .content {
  padding-top: 56px;
}

.vreview .outcomes .table-view-cell .icon-close {
  display: none;
}

.vreview .outcomes .table-view-cell:hover .icon-close {
  display: block;
}

.vreview .outcomes .table-view-cell:hover .icon-close:hover {
  color:black;
}

.vreview .hints {
  color: hsl(0, 0%, 40%);
  font-size: 12px;
  text-align: center;
  padding-top: 30px;
}*/
