#week{
	height: 120px;
	width: 800px;
}


#week>div{
	display: inline-block;
	font-size: 12px;
	padding-left: 10px;
}

#week div>div{
	width: 10px;
	height: 10px;
	background-color: white;
	border-radius: 100px;
	display: inline-block;
	margin: 5px;
	color: black;
	text-align: center;
	position: relative;
}

#week div>div:hover{
	background-color: #66cc66;
}

.pages{
	font-size: 12px;
	padding-top: 10px;
}

.bars .bar{
	display: inline-block;
	background-color: white;
	height: 15px;
	width: 50px;
	margin-right: 10px;
	margin-top: 4px;
}

.bars .bar:hover{
	background-color: #66cc66;
}