
.vreview form {
/*
  background: #efeff4;
  padding: 3px 2px;
  position: absolute;
*/
  z-index: 10000;
  overflow: visible;
/*  width: 100%;*/
}

.vreview .table-view {
/*
  flex: 1.0;
  overflow-y: auto;
  margin-bottom: 0px;
  margin-top: 0px;
*/
}


.vreview form input[type=search] {
  background-color: white;
  border-radius: 30px;
  box-shadow: inset rgba(0,0,0,0.3) 0px 0px 3px;
}

.vreview form input[type=search]:disabled {
  opacity: 1.0;
}



.vreview .toggle {
  margin-top: -2px;
  height: 18px;
}

.vreview .toggle .toggle-handle {
  top: -7px;
}


.vreview .content {
  background: white;
  margin-bottom: 0;
}


.vreview h3{
  font-size: 12px;
  margin: 0 10px;
  text-align: right;
  font-weight: normal;
/*  text-decoration: underline;*/
  display: inline-block;
  min-width: 90px;
}


.vreview h3 b{
  font-weight: normal;
  border-bottom: solid thin hsl(0, 0%, 92%);
  font-family: Optima;
  font-size: 13px;
}

.vreview h3 .icon{
  font-size: 14px;
  margin-right: 5px;
}

.vreview h3.well {
  color: hsl(110, 50%, 59%);
}

.vreview h3.poorly {
  color: hsl(0, 50%, 65%);
}

.vreview {
  display: flex;
  flex-direction: column;
  height: 100%;
  background: hsl(228, 13%, 95%)
}

.table-view-cell .hindsight-signal{
 display: inline-block;
}

.vreview .table-view-cell
{
  padding: 11px 1px 11px 1px;
}


p.reminder {
  color: hsl(0, 0%, 61%);
  font-size: 10px;
  text-align: right;
  text-shadow: hsl(0, 100%, 100%) 0px 1px 1px;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  margin:0;
  margin-top: -7px;
}

header form {
  display: flex;
}

.bar-nav.bar-extended {
  height: 54px;
}

.bar-nav.bar-extended ~ .content {
  padding-top: 56px;
}
