  common_concerns:
    "facebook.com":
      "state: feeling relaxed":
        going_well_percent: .1
        going_well_user_count: 1
        going_poorly_user_count: 9
        going_well_user_time_cost_avg: '30h'
        going_poorly_user_time_cost_avg: '50h'
        intended_user_count: 10
        total_user_count: 10
      "activity: mindless reading":
        going_well_percent: .1
        going_well_user_count: 1
        going_poorly_user_count: 9
        going_well_user_time_cost_avg: '30h'
        going_poorly_user_time_cost_avg: '50h'
        intended_user_count: 10
        total_user_count: 10
      "activity: flirting":
        going_well_percent: .2
        going_well_user_count: 1
        going_poorly_user_count: 4
        going_well_user_time_cost_avg: '10h'
        going_poorly_user_time_cost_avg: '50h'
        intended_user_count: 5
        total_user_count: 5

  best_options:
    'activity: mindless reading':
      'itunes.com/random_app':
        type: 'app'
        going_well_percent: .9
        going_well_user_upfront_time_cost_avg: '5m'
        going_well_user_currency_cost_avg: null
    'state: feeling relaxed':
      'yelp.com/dolores-park':
        type: 'venue'
        going_well_percent: .9
        going_well_user_upfront_time_cost_avg: '1h'
        going_well_user_currency_cost_avg: null

  related_concerns:
    'activity: mindless reading':
      'state: feeling relaxed':
        forward_migrations: 6
        backward_migrations: 0

  reviewers:
    'facebook.com':
      'facebook:514190':
        reviewed_at: 29820412
